/* You can add global styles to this file, and also import other style files */

.fontTitle {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
}

.body {
    background-image: url(assets/images/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.textError {
    font-size: 1rem;
}